<div class="search-div">
  <button mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon>Create
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Search"
      autocomplete="off"
      (keyup)="applyFilter()"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-spinner *ngIf="spin"></mat-spinner>

<div class="container-table">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-heade> Id. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-heade> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef mat-sort-heade>
        Comment
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.comment }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="text-center">
          <mat-icon (click)="removeStation(element)" style="cursor: pointer"
            >delete_forever</mat-icon
          >
          <mat-icon (click)="onEdit(element)" style="cursor: pointer"
            >edit</mat-icon
          >
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 20, 30, 100]"
    [pageSize]="5"
  ></mat-paginator>
</div>
